@font-face {
  font-family: 'Gilroy-light';
  src:url('/src/fonts/Gilroy-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-thin';
  src: url('/src/fonts/Gilroy-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-bold';
  src: url('/src/fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


*,
body {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

#root,
body,
.motion-element {
  min-height: 100vh;
  background-color: #009499;
  font-family: "Gilroy-light";
}

.explorationContainer .exploration {
  height: 60vh !important;
}

.motion-element {
  display: flex;
  flex-flow: column;
}

.base_container {
  max-width: 992px;
  margin: 0 auto;
  padding: 0 20px;
}


.fundoInicial {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('./assets/video/Grupo.gif');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.fundoGeral {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

header > img {
  width: 40%;
}

.header {
  margin: 0;
  padding: 10px 30px;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.icon{
  height: 35px;
  width: 35px;
  color: white;
}

.hero {
  display: flex;
  align-items: center;
  margin: 0;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
  height: 80vh;
  gap: 15px;
  width: 100%;
  text-align: center;
  padding: 5px;
}

/* SEÇÃO DO IFRAME */

.iframeDash {
  width: 100%;
  min-height: 80vh;
  position: relative;
}

.iframe-content {
  min-height: inherit;
  width: inherit;
  position: relative;
  border-radius: 20px 20px 0px 0px;
}

.iframeDash::before {
  content: "";
  position: absolute;
  bottom: 65px;
  margin: auto;
  left: 0;
  right: 0;
  height: 100px;
  width: 100%;
  background: transparent;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 50px 0 0 #009499;
  z-index: 100;
}

.iframeDash::after {
  content: "";
  position: absolute;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  height: 60px;
  width: 100%;
  background: transparent;
  background-color: #009499;
  z-index: 99;
}

.iframe-border {
  display: block;
  position: absolute;
  bottom: 0;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  height: calc(100% - 65px);
  width: 100%;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 20px;
  z-index: 98;
  pointer-events: none;
}

.opcoes{
  margin: 10px;
  padding: 5px;
  height: 65px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 93, 96, 0.1);
  border-radius: 30px;
  border: none;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.3);
  letter-spacing: 2px;
}

.btnVoltar{
  margin: 0;
  padding: 0;
  height: auto;
  border: none;
  background-color: transparent;
}

.btnTexto{
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: 100;
  text-decoration: none;
  font-family: 'Gilroy-light';
}


.footer {
  margin:0 ;
  padding: 0;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  position: fixed;
  background-color: #009499;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.footerInicio {
  margin:0 ;
  padding: 0;
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.title {
  font-family: 'Gilroy-light';
  font-size: 28px;
  color: white;
  letter-spacing: 10px;
}

.subtitulo {
  color: white;
  font-size: 12px;
  font-family: 'Gilroy-thin';
  letter-spacing: 3px;
}

.textoMain{
  font-family: 'Gilroy-thin';
  font-size: 20px;
  color: white;
  font-style: italic;
}

.link {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20;
  width: 100%;
  
}

iframe {
  width: 94%;
  height: 100%;
  /* border-radius: 20px; */
}

.copyright {
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
  padding: 10px 0;
}

.teste{
  display: flex;
  flex: 1;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right top, #582b6f, #354e92, #006ba5, #0085a8, #009ca1);

}
